In [1]:
import pandas as pd
df = pd.read_csv('NFA 2019 public_data.csv')

C:\Users\Elite\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [2]:
df.QScore.value_counts()

3A    51481
2A    10576
2B    10096
1B       16
1A       16
Name: QScore, dtype: int64

In [3]:
df.isna().sum()

country               0
year                  0
country_code          0
record                0
crop_land         20472
grazing_land      20472
forest_land       20472
fishing_ground    20473
built_up_land     20473
carbon            20473
total                 9
QScore                1
dtype: int64

In [4]:
df = df.dropna()

In [5]:
df.isna().sum()

country           0
year              0
country_code      0
record            0
crop_land         0
grazing_land      0
forest_land       0
fishing_ground    0
built_up_land     0
carbon            0
total             0
QScore            0
dtype: int64

In [6]:
df.QScore.value_counts()

3A    51473
2A      224
1A       16
Name: QScore, dtype: int64

In [7]:
df['QScore'] = df['QScore'].replace(['1A'], '2A')

In [8]:
df['QScore'].value_counts()

3A    51473
2A      240
Name: QScore, dtype: int64

In [9]:
df_2A = df[df['QScore'] == '2A']
df_3A = df[df['QScore'] == '3A'].sample(350)

In [10]:
data_df = df_2A.append(df_3A)

In [11]:
data_df

,country,year,country_code,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,QScore
1536,Algeria,2016,4,AreaPerCap,2.072989e-01,8.112722e-01,0.048357265,2.258528e-02,2.998367e-02,0.000000e+00,1.119497e+00,2A
1537,Algeria,2016,4,AreaTotHA,8.417600e+06,3.294260e+07,1963600,9.171000e+05,1.217520e+06,0.000000e+00,4.545842e+07,2A
1538,Algeria,2016,4,BiocapPerCap,2.021916e-01,2.636077e-01,0.027166736,7.947991e-03,2.924496e-02,0.000000e+00,5.301590e-01,2A
1539,Algeria,2016,4,BiocapTotGHA,8.210214e+06,1.070408e+07,1103135.245,3.227369e+05,1.187524e+06,0.000000e+00,2.152769e+07,2A
1540,Algeria,2016,4,EFConsPerCap,6.280528e-01,1.810332e-01,0.162800822,1.472910e-02,2.924496e-02,1.391455e+00,2.407316e+00,2A
...,...,...,...,...,...,...,...,...,...,...,...,...
39175,Mali,1999,133,EFProdTotGHA,6.128369e+06,7.356480e+06,2134884.185,2.894484e+05,7.027004e+05,2.704346e+05,1.688232e+07,3A
55819,Slovenia,2007,198,AreaTotHA,5.743614e+05,1.655922e+05,1183599.79,2.370400e+04,5.581421e+04,0.000000e+00,2.003072e+06,3A
62905,Oman,2012,221,EFProdTotGHA,1.885955e+05,1.396222e+05,16029.18404,2.253515e+06,5.056289e+05,2.132096e+07,2.442435e+07,3A
757,Albania,1974,3,EFConsTotGHA,1.105976e+06,6.066960e+05,1161209.151,1.509432e+04,5.153119e+04,1.738025e+06,4.678532e+06,3A
38059,Malawi,1972,130,BiocapTotGHA,2.564879e+06,1.231232e+06,449367.7215,9.162570e+05,1.717427e+05,0.000000e+00,5.333478e+06,3A

In [12]:
import sklearn.utils
data_df = sklearn.utils.shuffle(data_df)
data_df = data_df.reset_index(drop=True)
data_df

,country,year,country_code,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,QScore
0,Somalia,1984,201,EFProdPerCap,1.219996e-01,8.785041e-01,0.335634771,4.566257e-03,4.424460e-02,3.556048e-02,1.420510e+00,3A
1,Djibouti,2016,72,EFProdPerCap,1.658459e-02,2.154705e-01,0.158101127,2.596762e-02,2.068994e-01,2.691369e-01,8.921601e-01,2A
2,World,1986,5001,EFConsTotGHA,2.624290e+09,9.842358e+08,1.82964e+09,4.762376e+08,2.180566e+08,6.845996e+09,1.297846e+10,3A
3,Lebanon,1967,121,BiocapPerCap,1.744735e-01,7.516345e-02,0.137675439,1.625905e-02,2.376318e-02,0.000000e+00,4.273346e-01,3A
4,Ireland,2016,104,BiocapTotGHA,2.711247e+06,3.495762e+06,2340198.905,6.931219e+06,4.632982e+05,0.000000e+00,1.594172e+07,2A
...,...,...,...,...,...,...,...,...,...,...,...,...
585,Bahamas,1984,12,BiocapPerCap,4.978637e-02,4.054705e-03,1.925030064,1.377221e+01,3.417104e-02,0.000000e+00,1.578525e+01,3A
586,Switzerland,1976,211,EFConsTotGHA,4.745930e+06,1.900629e+06,2941101.082,9.448351e+05,4.215578e+05,2.315560e+07,3.410966e+07,3A
587,South Africa,2016,202,AreaPerCap,2.301621e-01,1.498663e+00,0.164972195,2.965179e-01,2.801332e-02,0.000000e+00,2.218328e+00,2A
588,Eswatini,2016,209,AreaTotHA,1.900000e+05,1.032000e+06,590600,1.600000e+04,5.314350e+04,0.000000e+00,1.881744e+06,2A
589,"Venezuela, Bolivarian Republic of",1986,236,EFConsTotGHA,7.361290e+06,1.577536e+07,2.8317e+06,2.569431e+06,5.369627e+05,2.772583e+07,5.680058e+07,3A

In [13]:
data_df['QScore'].value_counts()

3A    350
2A    240
Name: QScore, dtype: int64

In [14]:
data_df = data_df.drop(columns=['country_code', 'country', 'year'])
X = data_df.drop(columns='QScore')
y = data_df['QScore']

In [15]:
X.shape

(590, 8)

In [16]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [17]:
y_train.value_counts()

3A    241
2A    172
Name: QScore, dtype: int64

In [18]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
x_train.record = encoder.fit_transform(x_train.record)
x_test.record = encoder.transform(x_test.record)

C:\Users\Elite\anaconda3\lib\site-packages\pandas\core\generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [19]:
import imblearn
from imblearn.over_sampling import SMOTE
smote = SMOTE(random_state=1)
x_train_balanced, y_balanced = smote.fit_sample(x_train, y_train)

In [20]:
x_train_balanced

,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total
0,7,1.715485e+06,2.923741e+06,206308,1.649330e+06,8.711968e+05,3.485760e+06,1.085182e+07
1,6,4.289349e-01,1.267040e-02,0.269142,2.025506e-01,5.563677e-02,5.709976e-01,1.539933e+00
2,4,1.500847e-01,3.274005e-01,0.227794,9.770048e-02,4.372914e-02,1.032697e-01,9.499781e-01
3,6,2.829950e-01,1.286783e-01,0.00393865,1.999000e-04,9.446197e-02,2.141098e-01,7.243837e-01
4,5,1.346115e+05,9.060700e+04,116097,7.889400e+05,2.033112e+02,8.337630e+05,1.964222e+06
...,...,...,...,...,...,...,...,...
477,1,5.275545e+06,3.111230e+06,1.1697e+06,1.285393e+05,1.026440e+06,0.000000e+00,1.071145e+07
478,5,6.751468e+06,2.397158e+06,8.34797e+06,5.368125e+05,1.426155e+06,1.058935e+07,3.004891e+07
479,1,1.486879e+07,5.391694e+07,1.0041e+07,1.985293e+07,2.542489e+06,0.000000e+00,1.012221e+08
480,2,2.773322e-01,1.381344e-01,0.0074624,1.074208e-02,8.989146e-02,0.000000e+00,5.235625e-01
481,5,1.501400e+05,4.679390e+04,80222.8,2.803964e+04,2.386819e+04,3.142541e+05,6.433187e+05

In [21]:
y_balanced.value_counts()

3A    241
2A    241
Name: QScore, dtype: int64

In [22]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalised_train_df = scaler.fit_transform(x_train_balanced.drop(columns=['record']))
normalised_train_df = pd.DataFrame(normalised_train_df, columns=x_train_balanced.drop(columns=[ 'record' ]).columns)
normalised_train_df['record'] = x_train_balanced['record']

In [23]:
x_test = x_test.reset_index(drop=True)
normalised_test_df = scaler.fit_transform(x_test.drop(columns=['record']))
normalised_test_df = pd.DataFrame(normalised_test_df, columns=x_test.drop(columns=['record']).columns)
normalised_test_df['record'] = x_test['record']

In [24]:
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression()
log_reg.fit(normalised_train_df, y_balanced)

LogisticRegression()

In [25]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(log_reg, normalised_train_df, y_balanced, cv=5, scoring='f1_macro')
scores

array([0.55366506, 0.54634354, 0.55203473, 0.46869235, 0.53079179])

In [26]:
from sklearn.metrics import f1_score, confusion_matrix
new_predictions = log_reg.predict(normalised_test_df)
#cnf_mat = confusion_matrix(y_true=y_test, y_pred=new_predictions, labels=['2A', '3A'])
cnf_mat = confusion_matrix(y_true=y_test, y_pred=new_predictions, labels=[ '2A' , '3A' ])
cnf_mat

array([[32, 36],
       [50, 59]], dtype=int64)

In [27]:
#from sklearn.model_selection import KFold
#kf = KFold(n_splits=5)
#kf.split(normalised_train_df)
#f1_scores = []
#for train_index, test_index in kf.split(normalised_train_df):
#    x_train, x_test = normalised_train_df.iloc[train_index], normalised_train_df.iloc[test_index]
#    y_train, y_test = y_balanced[train_index], y_balanced[test_index]
#    model = LogisticRegression().fit(x_train, y_train)
    
#    f1_scores.append(f1_score(y_true=y_test, y_pred=model.predict(x_test), pos_label='2A')*100)

In [28]:
#import numpy as np
#from sklearn.model_selection import StratifiedKFold
#skf = StratifiedKFold(n_splits= 5 , shuffle= True , random_state= 1 )
#f2_scores = []
#for train_index, test_index in skf.split(normalised_train_df, y_balanced):
#    x_train, x_test = np.array(normalised_train_df)[train_index], np.array(normalised_train_df)[test_index]
#    y_train, y_test = y_balanced[train_index], y_balanced[test_index]
#    model = LogisticRegression().fit(x_train, y_train)

#    f2_scores.append(f1_score(y_true=y_test, y_pred=model.predict(x_test), pos_label= '2A' ))

In [29]:
from sklearn.model_selection import LeaveOneOut
loo = LeaveOneOut()
score = cross_val_score(LogisticRegression(), normalised_train_df, y_balanced, cv=loo, scoring= 'f1_macro' )
average_score = score.mean() * 100

In [30]:
average_score

53.11203319502075

In [31]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_true=y_test, y_pred=new_predictions)
print( 'Accuracy: {}' .format(round(accuracy* 100 ), 2 ))

Accuracy: 51

In [32]:
from sklearn.metrics import precision_score
precision = precision_score(y_true=y_test, y_pred=new_predictions, pos_label= '2A' )
print( 'Precision: {}' .format(round(precision* 100 ), 2 ))

Precision: 39

In [33]:
from sklearn.metrics import recall_score
recall = recall_score(y_true=y_test, y_pred=new_predictions, pos_label= '2A' )
print( 'Recall: {}' .format(round(recall* 100 ), 2 ))

Recall: 47

In [34]:
f1 = f1_score(y_true=y_test, y_pred=new_predictions, pos_label= '2A' )
print( 'F1: {}' .format(round(f1* 100 ), 2 ))

F1: 43

In [35]:
from sklearn.tree import DecisionTreeClassifier
dec_tree = DecisionTreeClassifier()
dec_tree.fit(normalised_train_df, y_balanced)

DecisionTreeClassifier()